absl-py==2.1.0
annotated-types==0.7.0
anyio==4.7.0
charset-normalizer==3.4.0
fastapi==0.115.6
h11==0.14.0
numpy==2.0.2
Pillow==11.0.0
pydantic==2.10.3
requests==2.32.3
starlette==0.41.3
tensorflow==2.18.0
uvicorn==0.32.1
